.GI {
    display: flex;
    flex-direction: column;
}

.GI-child {
    margin: 30px;
}

.gender-button {
    color: #333;
    font-size: 2em;
}

.gender-input {
    font-size: 2em;
}

.result-text {
    font-size: 2em;
    color: darkmagenta;
}