body {
    background-color: black;
    color: darkmagenta
}

.GI {
}

.gender-button {
    color: violet;
    font-size: 2em;
}

.gender-input {
    font-size: 2em;
}

.result-text {
    font-size: 2em;
    color: violet;
}