.GI {
    display: flex;
    flex-direction: column;
}

.GI-child {
    margin: 30px;
}

.gender-button {
    color: #333;
    font-size: 2em;
}

.gender-input {
    font-size: 2em;
}

.result-text {
    font-size: 2em;
    color: darkmagenta;
}

.result-bar {
    position: relative;
    max-width: 1200px;
    width: 80vw;
    height: 35px;
    margin: 10px auto;
    border: 4px solid rgb(50,50,50);
    display: flex;
}

.result-bar-1 {
    width: 22%;
    height: 35px;
    background-color: #fe007f;
}

.result-bar-2 {
    width: 56%;
    height: 35px;
    background-color: #9832ff;
}

.result-bar-3 {
    width: 22%;
    height: 35px;
    background-color: #00b8e7;
}

.arrow {
    position: absolute;
    top: 50px;
    color: white;
}

.footer {
    max-width: 1200px;
    width: 79vw;
    margin: 50px auto 20px auto;
    padding: 5px;
    font-size: 1em;
    color:#FFF;
    text-align: left;
    font-family: 'MyFont';
    border: 4px solid white;
}

a {
    color: wheat;
}